<%
	var xrefs_xml = ''

	var xrefs_labels = {
		"comp_wlps" : "See also",
		"antonyms"  : "Opposite of",
		"synonyms"  : "Same as",
		"comp_sl"   : "Handsign",
		"preverbs"  : "Combines with"
	}

	function format_crefs(cref_array) {
		return cref_array.map(txt => txt.superscript()).join(", ")
	}

	xrefs_xml += Object.keys(xrefs_labels).map(xref_key => {
		if(cross_refs[xref_key]) {
			return `<xref_label aid:cstyle="xref_label">${ xrefs_labels[xref_key] }: </xref_label>`
			     + `<xref_list aid:cstyle="xref_list">${ format_crefs(cross_refs[xref_key]) }. </xref_list>`
		} else {
			return ''
		}
	}).join('')

-%>
<%- xrefs_xml %>