<%

	// unconventional use of ejs because we need to output the XML into a single line
	var entry_xml = '';

	String.prototype.xml_escape = function() {
    	return this.replace(/&/g, '&amp;')
	}

	String.prototype.prettify_gloss = function() {
    	return this.replace(/\^/g, '').replace(/[<>]/g, "'").replace(/\[.*?\]/g, "")
	}

	String.prototype.period_space = function() {
		return `${this}. `.replace(/\.\. $/, '. ')
	}

	String.prototype.format_vies = function() {
		return this.replace(/<(.*?)>/g, "<block_vern aid:cstyle=\"block_vern\">$1</block_vern>")
	}

	String.prototype.superscript = function() {
		return this.replace(/\*(\d)\*/, "<sup aid:cstyle=\"superscript\">$1</sup>")
	}

	if(label_type) {
		var label_components = entry_label.split(/\s(?=\(-?[A-Z])/);

		entry_xml += `<${label_type}_label aid:cstyle="${label_type}_label">${label_components[0].superscript()}</${label_type}_label><${label_type}_attr aid:cstyle="${label_type}_attr"> ${label_components[1].format_vies()}</${label_type}_attr>. `
	}
	
	sense_entries.map(({comments, cross_refs, definition, eng_origin, examples, glosses, pdg_examples, pdx_label, sense_label}, index) => {

		if(sense_entries.length > 1 & !pdx_label) {
			entry_xml += `<sense_label aid:cstyle="sense_label">${index + 1}</sense_label>`
			entry_xml += sense_label ? `<sense_attr aid:cstyle="sense_attr"> ${ sense_label }</sense_attr>. ` : '. '
		}

		if(pdx_label) {
			entry_xml += `\n<branch_block aid:pstyle="branch_block"><branch_label aid:cstyle="branch_label">${ pdx_label.format_vies().period_space() }</branch_label>`
		}

		if(glosses) {
			entry_xml += `<block_glosses aid:cstyle="block_glosses">${ glosses.prettify_gloss() }. </block_glosses>`
		}

		if(definition) {
			entry_xml += `<block_definition aid:cstyle="block_definition">[${ definition.replace(/\.$/,'').format_vies() }]. </block_definition>`
		}

		if(eng_origin) {
			entry_xml += `<block_engo aid:cstyle="block_engo">${ eng_origin.replace(/<(.*?)>/g, '<engo_emph aid:cstyle="engo_emph">$1</engo_emph>') }. </block_engo>`
		}

		if(comments) {
			entry_xml += `<block_comments aid:cstyle="block_comments">${ comments.join(". ").format_vies().period_space() }</block_comments>`
		}

		if(examples) {
			entry_xml += include('examples.ejs', { "example_blocks" : examples })
		}

		if(cross_refs) {
			entry_xml += include('cross_refs.ejs', { "cross_refs" : cross_refs })
		}

		if(pdx_label) {
			entry_xml += `</branch_block>`
		}

		if(pdg_examples) {
			entry_xml += include('entry_body.ejs', { "label_type": null, "sense_entries" : pdg_examples })
		}

	})
-%>
<%- 
	entry_xml
		.replace(/<\/branch_block><sense_label/g, "</branch_block>\n<sense_block aid:pstyle=\"sense_block\"/><sense_label")
		.replace(/:<\/([a-z]+)_attr>\. /g, ":</$1_attr> ")
		.xml_escape()
-%>
